.header {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  /* flex-direction: row; */
}

.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}

.center {
  display: flex;
  justify-content: center;
}

.header p {
  margin: 0;
  padding: 0;
}
