.header {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  /* flex-direction: row; */
}

.left{
  text-align:center;
  line-height:1.5em;
  padding:0;
}

.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}

.center {
  display: flex;
  justify-content: center;
}

.header p {
  margin: 0;
  padding: 0;
}

.ml-2{
width: 75%;
margin: 0 auto;
}

.img {
height: 96px;
width: 96px;
}

.rating {
  font-family: Product Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);  
}