@font-face {
    font-family: "Product Sans";
    src: url("product-sans.ttf");
  }
  
  .forecastCard {
      border-radius: 20px;
      background-color: #fff;
    
      /* box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02); */
      color: #4a4a4a;
      display: block;
      width:80%;
      margin-top:1.5em;
      margin-left:auto;
      margin-right:auto;
      padding: 1.25rem;
  }
  
  .forecastDisplay {
    color: #4a4a4a;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-direction: row; */
  }
  
  
  /* FRI
    28C
    Sunny */
  .leftSide{
    margin-top:0.5em;
    text-align:center;
    line-height: 0.5em;
  }
  
  .dayText{
    font-weight:bolder;
    font-size:20px;
    text-transform: uppercase;
    padding-bottom:1em;
  }
  
  .weatherText{
    color:#797979;
  }
  
  /* Icon */
  
  .iconImg{
    position:absolute;
    display:flex;
    padding:0;
    margin-left:4.5em;
    margin-top:1.5em;
    max-width:55px;
    max-height:50px;
  }
  
  /*Wind rain*/
  
  .windRain{
    display:flex;
    position: absolute;
    left:12em;
    margin-top:3em;
    width:300px;
  }
  
  
  .rainText{
      /* 69% */
      font-family: Product Sans;
      font-style: normal;
      font-weight: bold;
      display:unset;
      font-size: 11.5px;
      color: #424242;
      position:absolute;
      top:-1.5em;
  }
  
  .windText {
      font-family: Product Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 11.5px;
      color: #424242;
      display: unset;
      text-align: right;
  
      position:absolute;
      top:-1.5em;
      left:7.2em;
  }
  
  .windImg {
      /* weather 1 */
      position: absolute;
      width:12px;
      height:14px;
      background:none;
      margin-top:-0.3em;
      left:4em;
  }
  
  .rainImg {
      /* Vector */
      position: absolute;
      background:none;
      width:8px;
      height:13px;
      left:2em;
      margin-top:-0.3em; 
      /*background: #2196F3;*/
  }
  
  .dividorImg {
      /* Rectangle 12 */
      position: inherit;
      width: 3px;
      height: 15px;
      background: #4E4E4E;
      left:3.2em;
      margin-top:-0.4em;
  }