@font-face {
  font-family: "Product Sans";
  src: url("product-sans.ttf");
}

.today {
  /* Today */

  position: relative;
  width: 37px;
  height: 13px;
  left: 44px;
  top: 47px;

  font-size: 12px;
  line-height: 10px;
  /* or 83% */

  color: #ffffff;

  z-index: 2;
}

.current {
  /* Rectangle 11 */
  position: absolute;
  width: 74px;
  height: 25px;
  left: 25px;
  top: 51.5px;

  color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  z-index: 1;
}

.schedule {
  /* Schedule */
  position: relative;
  width: 51px;
  height: 15px;
  left: 109px;
  top: 44px;

  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.7);
}

.next-5-days {
  /* Next 5 days */
  position: relative;
  width: 75px;
  height: 15px;
  left: 272px;
  top: 44px;

  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.7);
}

ul a {
  text-decoration: none;
  color: inherit;
}

ul a:hover {
  text-decoration: none;
}
ul {
  list-style-type: None;
  display: flex;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  margin-left: 20pt;
}

.selected {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: #ffffff;
}

.menu-bar {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
}

ul {
  list-style-type: None;
  display: flex;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  margin-left: 20pt;
}
