@font-face {
  font-family: "Product Sans";
  src: url("product-sans.ttf");
}

ul a {
  text-decoration: none;
  color: inherit;
}

ul a:hover {
  text-decoration: none;
}
ul {
  list-style-type: None;
  display: flex;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  margin-left: 20pt;
}

.selected {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: #ffffff;
}

.menu-bar {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
}

ul{
    list-style-type: None;
    display: flex;
    align-content: flex-start;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    margin-left: 20pt;

}