@font-face {
  font-family: "Product Sans";
  src: url("product-sans.ttf");
}

/* Friday 13th */
.date {
  /* Tuesday 21st */

  width: 92px;
  height: 10px;

  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  /* identical to box height, or 67% */
  color: rgba(0, 0, 0, 0.7);
}

.cityText {
  width: 103px;
  height: 10px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  /* identical to box height, or 33% */
  color: rgba(0, 0, 0, 0.7);
}

.time {
  width: 44px;
  height: 11px;

  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 10px;
  display: flex;
  align-items: center;

  color: #4e4e4e;
}
