.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body {
  /*height: 100%;
  width: 100%;*/
  padding: 0;
  margin: 40px;
  margin-left: 250px;
  background: #FAFAFA;
  font-weight: 400;
  color: #444;
  width: 360px;
  height: 560px;
}


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('assets/sunny_bg.png');
  width: 360px;
  height: 560px;
  text-align: center;
  padding-top: 80px;
  margin: 0 auto;
  margin-top: 40px;

}


/*
.App-header {
  background-color: #282c34;
  background-image: url('/assets/sunny_bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

